.container {
    display: flex;
    flex-direction: column;
    gap:3rem;
    margin-bottom: 20px;

}

.top {
    display: flex;
}

.imgContainer {
    width: 90%;
    height: 400px;
    position: relative;
}

.img {
    object-fit: cover;
}
.date {
    font-size: 12px;
    transform: rotate(270deg);
    margin: auto;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
}

.desc {
    width: 90%;
    margin-bottom: 20px;
    font-weight: 300;
    color:gray;
}

.link {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}