.container {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.avatar {
    object-fit: cover;
    border-radius: 50%;
}

.text {
display: flex;
flex-direction: column;
gap: 10px;
}

.title {
color: gray;
font-weight: bold;
}

.username{
font-weight: 500;
}